* {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

/* The sidepanel menu */
.sidepanel {
    height: 40%; /* Specify a height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9); /* Black with some slight opacity*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 50px; 
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
    overflow: hidden;
  }
  

  /* The sidepanel links and set up for anim */
  .sidepanel .links {
    padding: 8px 8px 8px 32px;
    position: relative;
    text-decoration: none;
    font-size: 2.3vh;
    color: white;
    display: block;
    transition: 0.3s;
  }

  /* Underline animation */
  .sidepanel .links::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 1em;
    width: 65%;
    height: 0.05em;
    background-color: skyblue;
    opacity: 0;
    transition: opacity 300ms, transform 300ms;
  }

  .sidepanel .links:hover::after,
  .sidepanel .links:focus::after {
    opacity: 0.8;
    transform: translate3d(0, 0.2em, 0);
  }


/* Position and style the close button (top right corner) */
  .sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-top: 5px;
    text-decoration: none;
    color: white;
  }

  /* Style the button that is used to open the sidepanel */
  .openbtn {
    font-size: 25px;
    text-align: center;
    cursor: pointer;
    background-color: rgba(17, 17, 17, 0.795);
    color: white;
    padding: 10px 15px;
    border: none;
  }
  
  .openbtn:hover {
    background-color: black;
  }
